<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Start</title>
        <!-- <script src="../js/index.js"></script> -->
        <link rel="stylesheet" href="../css/styles.css" />
    </head>
    <body>
        <form id="form-username" action="/rooms" method="post" enctype="application/json">
            <h1 id="h1-enter-name">What's you are name?</h1>
            <input id="username" name="username" type="text" class="validate" />
            <button id="btn-submit-username">Confirm</button>
        </form>
    </body>
</html>
