<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/styles.css" />
        <script type="module" src="../js/rooms.js"></script>
    </head>
    <body>
        <div id="div-rooms">
            <h1 style="text-align: center">Rooms</h1>
            <div id="rooms"></div>
        </div>
        <div id="div-enter-room">
            <h1 style="text-align: center">room name:</h1>
            <input id="room-name" type="text" />
            <button id="btn-create-room">create</button>
        </div>
    </body>
</html>
